# This is a sample Jupyter Notebook

Below is an example of a code cell. 
Put your cursor into the cell and press Shift+Enter to execute it and select the next one, or click 'Run Cell' button.

Press Double Shift to search everywhere for classes, files, tool windows, actions, and settings.

To learn more about Jupyter Notebooks in PyCharm, see [help](https://www.jetbrains.com/help/pycharm/ipython-notebook-support.html).
For an overview of PyCharm, go to Help -> Learn IDE features or refer to [our documentation](https://www.jetbrains.com/help/pycharm/getting-started.html).

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
raw_data_A = pd.read_csv('data/data_A.csv')
raw_data_B = pd.read_csv('data/data_B.csv')
raw_data_C = pd.read_csv('data/data_C.csv')

In [4]:
raw_data_A

         date  indexA
0    Jan-1992     790
1    Feb-1992     539
2    Mar-1992     535
3    Apr-1992     523
4    May-1992     552
..        ...     ...
383  Dec-2023    1073
384  Jan-2024     802
385  Feb-2024     559
386  Mar-2024     596
387  Apr-2024     596

[388 rows x 2 columns]